<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>我的生活</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="__STATIC__/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/my-app.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/base.css" rel="stylesheet" type="text/css"/>
        <link href="__CSS__/color.css" rel="stylesheet" type="text/css"/>
        <block name="style"></block>
    </head>
    <body>
        <block name="content"></block>

        <script src="__STATIC__/jquery-2.2.4.min.js"></script>
        <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
        <block name="script"></block>
    </body>
</html>