<extend name="Base/base"/>
<block name="style">
    <style>
        header input{
            height: 30px !important;
        }
        .shl>span{
            border: 1px solid #EEE;
            border-radius: 3px;
            margin: 5px 5px;
            padding: 0px 5px;
        }
    </style>
</block>
<block name="content">
    <header class="navbar navbar-static-top bs-docs-nav dpb">
        <a href="javaScript:history.go(-1);">
            <div class="left txc margin-right-1">
                <span class="fa fa-angle-left icon-color-1"></span>
            </div>
        </a>
        <div class="txc" style=' -webkit-box-flex:1; width: 100%;'>
            <input type="text" class="form-control" placeholder="请输入货品名称">
        </div>
        <a href="javaScript:;">
            <div class="right txc margin-left-1">
                搜索
            </div>
        </a>
    </header>

    <div class='content background-color-0 padding-1'>
        <div class='ofh'>
            <div class='left'>
                <span class="fa fa-search icon-color-1"></span>
                <span>最近搜索</span>
            </div>
            <div class='right'>
                <span class="fa fa-search icon-color-1"></span>
            </div>
        </div>
        
        <div class="shl">
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
            <span class="dpib">8G SSD</span>
        </div>
        
        
    </div>




    <!--    <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
                <div class="col-xs-6 productItem">
                    <a href="{:U('product/details')}">
                        <div class="plimg" style=" background-image: url(__IMG__/img-1.jpg); background-size: 100% 100%;"></div>
                        <div class="pltitle">爱鲨 iPhone6手机壳苹果6s套奢华简约ipone平</div>
                        <div class="plprice">￥29.00</div>
                    </a>
                </div>
    
            </div>
        </div>-->



</block>
<block name="script">
    <script>
        $(function () {

            $(".plimg").height($(".plimg").width());
        });
    </script>
</block>