.border-color-1{
    border-color: #D8D8D8;
}
.border-color-2{
    border-color: #EEEEEE;
}


.font-color-1{
    color:#222222;
}
.font-color-2{
    color:#D93229;
}
.font-color-3{
    color: #636363;
}

.icon-color-1{
    color:#6E6E6E;
}

.background-color-0{
    background-color: #FFFFFF;
}
.background-color-1{
    background-color: #F6F6F6;
}
