<extend name="Public/base" />

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>会员列表</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}" target-form="ids">启 用</button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}" target-form="ids">禁 用</button>
        </div>

        <!-- 高级搜索 -->
<!--        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入用户昵称或者ID">
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
            </div>
        </div>-->
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">UID</th>
                    <th class="">昵称</th>
                    <th class="">鱼币</th>
                    <th class="">积分</th>
                    <th class="">登录次数</th>
                    <th class="">最后登录时间</th>
                    <th class="">最后登录IP</th>
                    <th class="">状态</th>
                    <th class="">操作</th>
                </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}" /></td>
                        <td>{$vo.mid} </td>
                        <td><a href="{:U('Home/Details/guide?i='.$vo['mid'])}">{$vo.nickname}</a></td>
                        <td>{$vo.balance}</td>
                        <td>{$vo.score}</td>
                        <td>{$vo.login_count}</td>
                        <td><span>{$vo.last_login_time|time_format}</span></td>
                        <td><span>{$vo.last_login_ip}</span></td>
                        <td>{$vo.status_text}</td>
                        <td>
                            <eq name="vo.status" value="1">
                                <a href="{:U('Member/changeStatus?method=forbidMember&id='.$vo['mid'])}" class="ajax-get">禁用</a>
                            <else/>
                                <a href="{:U('Member/changeStatus?method=resumeMember&id='.$vo['mid'])}" class="ajax-get">启用</a>
                            </eq>
                        </td>
                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page nls">
        {$_page}
    </div>
    
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        highlight_subnav('{:U('User / index')}');
    </script>
</block>
